body {
  font-family: 'Segoe UI', sans-serif;
  background: #fffaf5;
  margin: 0;
  padding: 0;
}

.navbar {
  background: #b30000;
  color: white;
  padding: 1rem;
  text-align: center;
  font-size: 1.8rem;
}

.menu-nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
  flex-wrap: wrap;
  font-size: 20px;
}

.menu-nav button {
  padding: 10px 20px;
  background: #b30000;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-size: 30px;
}

.menu-nav button:hover {
  background-color: #8a0000;
}

.menu-section {
  display: none;
  max-width: 800px;
  margin: auto;
  padding: 1rem;
  font-size: 20px;
}

.menu-section.active {
  display: block;
}

.menu-section h2 {
  text-align: center;
  color: #b30000;
  margin-bottom: 1rem;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  background: #fff;
  border: 1px solid #f7f3f3;
  border-radius: 5px;
  padding: 1rem;
  margin: 0.5rem 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.menu-item span:first-child {
  font-weight: 600;
}

.menu-item span:last-child {
  color: #b30000;
  font-weight: bold;
}
